###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.lock
*.unityproj
*.user
*.userprefs
*.pidb
.vs/
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
*.lock
*.ide
*.ide-shm
*.ide-wal
Assets/_GameAssets/Environnement/_Prefabs/ViveGrip.meta
Assets/_GameAssets/Environnement/_Prefabs/ViveGrip/Examples.meta
Assets/_GameAssets/Environnement/_Prefabs/PhotoShoot.meta
Assets/_GameAssets/Enemy/Elements/Boid/Material/InteractionSystem/Core/Materials.meta
Assets/_GameAssets/Enemy/Elements/Boid/Material/InteractionSystem/Core/Icons.meta
Assets/_GameAssets/Enemy/Elements/Boid/Material/InteractionSystem.meta
Assets/_GameAssets/Enemy/Elements/Boid/Material/Extras.meta
Assets/_GameAssets/Enemy/Elements/Boid/Material/Editor.meta
Assets/_GameAssets/Environnement/_Prefabs/Assets/SteamVR.meta
Assets/_GameAssets/Environnement/_Prefabs/Assets/ViveGrip.meta
